# IntelliJ IDEA specific
*.iml
.idea/

# Allure Reports
allure-results/
allure-report/

# Test reports
surefire-reports/
jacoco.exec
target/
target/site/

# IDE-specific files
*.classpath
*.project
.settings/
.allure/

# Build output
/build/
out/

# Miscellaneous
*.class
*.war
*.jar
